.card-wrapper {
    border: 2px black solid;
    margin: 20px;
    width: 93%;
    height: 270px;
    font-weight: bolder;
    padding: 5px;
}

.image {
    text-align: center;
    max-width: 220px;
}

a {
    text-decoration: none;
    color: black;
}

.heading:hover {
    text-decoration: underline;
}

.author {
    text-align: left;
    color: grey;
}