.wrapper {
    width: 50%;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-rows: 60vh 30vh;
}

img {
    display: inline;
    float: left;
    max-width: 400px;
    margin: 20px;
}

p {
    text-align: justify;
}