.App {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 30vh;
    display: grid;
    grid-template-columns: 30% 30% 30%
}

.container {
    margin: 20px;
    border: 3px goldenrod solid;
}