.card-wrapper {
    border: 2px black solid;
    margin: 20px;
    width: max-content;
    font-weight: bolder;
}

div img {
    text-align: center;
    max-width: 250px;
}

a {
    text-decoration: none;
    color: black;
}